<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip to content?</a>

  <!-- Navigation Bar Mobile -->
  <div class="menumobile">
    <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
    <div class="logomobile">Hunger Apps</div>
    <div class="logomobile">&nbsp;</div>
  </div>
  <nav id="drawer" class="navmobile">
    <ul class="navlistmobile">
      <li class="navitemsmobile"><a href="">Home</a></li>
      <li class="navitemsmobile"><a href="#">Favorite</a></li>
      <li class="navitemsmobile">
        <a target="_blank" href="https://github.com/Nafiadiansyah">About Us</a>
      </li>
    </ul>
  </nav>

  <!-- Navigation Bar Desktop -->
  <nav class="nav">
    <a class="logo" href="">Hunger Apps</a>
    <ul class="navlist">
      <li class="navitems"><a href="">Home</a></li>
      <li class="navitems"><a href="#">Favorite</a></li>
      <li class="navitems">
        <a target="_blank" href="https://github.com/Nafiadiansyah">About Us</a>
      </li>
    </ul>
  </nav>

  <!-- Jumbotron -->
  <div class="hero">
    <div class="herocontent">
      <h1 class="herotitle">Are You Hungry?</h1>
      <p class="herosubtitle">Recommendations the best restaurants for your hunger.</p>
    </div>
  </div>

  <!-- Content -->
  <main id="content">
    <section class="content">
      <div class="container">
        <h1>Daftar restoran</h1>
        <div class="list" id="resto"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>Made with &#x2764 - <a href="https://www.instagram.com/nafiadnsyh_" class="social">Find Me</a></p>
  </footer>
</body>

</html>