@media screen and (min-width:500px){
    .menumobile{
        display: none;
    }
    .navmobile{
        display: none;
    }
}

@media screen and (max-width: 499px){
    .nav{
        display: none;
    }
    .navmobile{
        z-index: 10;
        background-color: aliceblue;
        width: 100%;
        position: absolute;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%,0);
        transition: transform 0.5 ease;
    }
    .open{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    .navitemsmobile{
        display: list-item;
        color: black;
        width: 100%;
        text-align: left;
    }    
}

@media screen and (min-width:650px) {
    .list_resto_content{
        padding: 15px 30px 30px 30px;
    }
    .list_resto_title{
        font-size: 18px;
    }
    .list_resto_description{
        font-size: 14px;
    }
}

@media screen and (min-width:700px) {
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16px;
        grid-column-gap: 10px;
    }

}

@media screen and (min-width: 900px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
	}
}

@media screen and (min-width:1200px) {
    main{
        max-width: 1200px;
    }
}